body {
    font-size: 1em; /* Tamanho padrão do texto */
    text-align: center; /* Centraliza todo o conteúdo */
}
h1 {
    font-size: 2em; /* Tamanho do título principal */
    font-size: 2em; /* Tamanho do título principal */
    color: rgb(47, 95, 255); /* Cor do título */
}
p {
    font-size: 1.2em; /* Tamanho dos parágrafos */
}
figcaption {
    font-size: 0.8em; /* Tamanho da legenda menor */
    margin-top: 5px; /* Espaço acima da legenda */
}
figure {
    display: inline-block; /* Centraliza a figura */
    text-align: center; /* Centraliza o conteúdo da figura */
    margin: 20px 0; /* Espaço acima e abaixo da figura */
}
form {
    margin-top: 20px; /* Espaço acima do formulário */
}
label {
    display: block; /* Exibe os rótulos como blocos */
    margin-bottom: 5px; /* Espaço abaixo dos rótulos */
}
input, textarea {
    width: 100%; /* Largura total dos campos */
    padding: 10px; /* Espaçamento interno dos campos */
    margin-bottom: 10px; /* Espaço abaixo dos campos */
    font-size: 1em; /* Tamanho da fonte dos campos */
}