body {
    background-color: rgb(red, green, yellow);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 100px;
  }
  
  #container {
    text-align: center;
    padding: 20px;
    border: 2px solid #d40c66;
    border-radius: 10px;
    background-color: #7b8f76;
  }
  